$popup-title-height: 40px;
$popup-mobile-title-height: 50px;

$popup-primary: #0e3d6a;
$popup-width-sm: 360px;
$popup-width-md: 500px;
$popup-width-lg: 920px;
$popup-width-xl: $max-width;

/* 모달, 윈도우 팝업 공통 */
.popup-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: $font-family-title;
	height: $popup-title-height;
	background-color: $popup-primary;
	text-align: center;

	.popup-title {
		font-size: 18px;
		line-height: 1;
		font-weight: 500;
		color: $white;
	}

	.modal-popup & {
		@include media-breakpoint-up(lg) {
			border-radius: 10px 10px 0 0;
		}

		@include media-breakpoint-down(md) {
			height: $popup-mobile-title-height;
			justify-content: flex-start;
			padding-left: $mobile-spacing;
		}
	}
}

.popup-body {
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	padding: 30px 30px 0;

	@include media-breakpoint-down(md) {
		padding: $mobile-spacing $mobile-spacing 0;
	}
}

.popup-footer {
	position: relative;
	padding: 10px 20px;
	text-align: center;
	border-radius: 0 0 10px 10px;

	&.not-open-today {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $bg-lightgray;
	}

	.btn-group {
		margin-top: 10px;

		.modal-popup & {
			margin-bottom: 15px;
		}
	}
}

.btn-close-popup {
	display: block;
	position: absolute;
	top: 0;
	right: -9999px;
	width: 1px;
	height: 1px;
	border: 0;

	text-decoration: none;
	overflow: hidden;

	background: url(#{$url-img-common}/ico-times-white@2x.png) no-repeat center center;
	background-size: 18px 18px;
	overflow: hidden;

	&:focus,
	&:active {
		@include ir;
		top: 0;
		right: 0;
		width: auto;
		height: auto;
		width: 30px;
		height: 30px;
		background: #0e3d6a url(#{$url-img-common}/ico-times-white@2x.png) no-repeat center center;
		background-size: 18px 18px;
	}
}

.popup-header~.btn-close-popup {
	@include ir;
	right: 0;
	width: $popup-title-height;
	height: $popup-title-height;
	background: url(#{$url-img-common}/ico-times-white@2x.png) no-repeat center center;
	background-size: 18px 18px;

	@include media-breakpoint-up(lg) {
		top: -2px;
		right: -2px;
	}

	@include media-breakpoint-down(md) {
		.modal-popup & {
			width: 48px;
			height: $popup-mobile-title-height;
		}
	}
}

/* 모달 팝업 */
.modal-open {
	overflow: hidden;
}

.modal-popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1100;
	display: flex;
	justify-content: center;
	align-items: center;

	.dimed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(#000, 0.8);
	}

	.popup-inner {
		position: relative;
		z-index: 1100;
		width: $popup-width-md;
		transition-duration: 0.3s;
		transition-property: transform;
		background-color: #fff;

		&:focus {
			outline: 0;
			// box-shadow: 0 0 20px 5px rgba(#fff, .2);
		}

		.modal-popup.hide & {
			transform: scale(0.9);
		}

		.modal-popup.show & {
			transform: scale(1);
		}
	}

	&.hide {
		opacity: 0;
		visibility: hidden;

		.popup-inner {
			transform: translateY(-50px);
		}
	}

	&.show {
		opacity: 1;
		visibility: visible;
		transition-duration: 0.3s;

		.popup-inner {
			transform: translateY(0);
		}
	}

	&.modal-sm {
		.popup-inner {
			width: $popup-width-sm;
		}
	}

	&.modal-md {
		.popup-inner {
			width: $popup-width-md;
		}
	}

	&.modal-lg {
		.popup-inner {
			width: $popup-width-lg;
		}
	}

	&.modal-xl {
		.popup-inner {
			width: $popup-width-xl;
		}
	}

	&.modal-full {
		.popup-inner {
			// border-radius: 0;
			display: flex;
			flex-direction: column;
			width: calc(100% - 100px);
			height: calc(100% - 100px);
		}

		.popup-header,
		.popup-footer {
			flex: 0 0 auto;
			// border-radius: 0;
		}

		.popup-body {
			flex: 1 1 auto;
			max-height: none;
			padding-bottom: 30px;
		}
	}

	@include media-breakpoint-up(lg) {
		.popup-inner {
			border-radius: 10px;
			border: 2px solid $popup-primary;
		}

		.popup-header {
			margin: -2px -2px 0;
		}

		.popup-body {
			max-height: calc(100vh - 200px);
		}
	}

	@include media-breakpoint-down(md) {
		&.modal-sm {
			.popup-inner {
				margin: $mobile-spacing;
				border-radius: 10px;
				border: 2px solid $popup-primary;
			}
		}

		&:not(.modal-sm) {
			.popup-inner {
				width: 100%;
				display: flex !important;
				flex-direction: column !important;
				justify-content: center !important;
				height: 100%;
			}

			.popup-header,
			.popup-footer {
				flex: 0 0 auto;
			}

			.popup-body {
				flex: 1 1 auto;
				max-height: 100%;
			}
		}
	}
}

/* 윈도우 팝업 */
.popup {
	height: 100%;
	overflow: hidden;

	.popup-inner {
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		height: 100%;
	}

	.popup-header {
		flex: 0 0 auto;
	}

	.popup-body {
		flex: 1 1 auto;
		max-height: 100%;

		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
	}

	.popup-title {
		font-family: $font-family-title;
	}

	.popup-footer {
		flex: 0 0 auto;
		padding-bottom: 30px;
	}
}

.layer-popup {
	position: absolute;
	z-index: 1000;
	transition-duration: 0.3s;
	transition-property: opacity;

	&.hide {
		opacity: 0;
		visibility: hidden;
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}

	.popup-inner {
		position: relative;
		z-index: 1100;
		transition-duration: 0.3s;
		transition-property: transform;
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid $border-active;
		box-shadow: 0 6px 9px rgba(#000, .2);
		overflow: hidden;

		&:focus {
			outline: 0;
			// box-shadow: 0 0 20px 5px rgba(#fff, .2);
		}

		.modal-popup.hide & {
			transform: scale(0.9);
		}

		.modal-popup.show & {
			transform: scale(1);
		}
	}

	.popup-header {
		justify-content: flex-start;
		height: 50px;
		padding: 0 19px;
		background-color: $bg-gray;

		.popup-title {
			display: flex;
			align-items: center;
			padding-top: 6px;
			color: $default;
			font-weight: 600;

			.ico {
				margin-top: -4px;
				margin-right: 4px;
			}
		}

		~.btn-close-popup {
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
			background-image: url(#{$url-img-common}/ico-times-gray@2x.png);
			background-size: 20px auto;
		}
	}

	.popup-body {
		padding: 16px 20px 20px;

		.btn-group {
			margin-top: 12px;
		}
	}

	@include media-breakpoint-up(lg) {
		.popup-inner {
			width: $popup-width-sm;
		}
	}

	@include media-breakpoint-down(md) {
		position: fixed;
		top: 0 !important;
		bottom: 0 !important;
		left: 0 !important;
		right: 0 !important;

		display: flex;
		align-items: center;
		justify-content: center;
		padding: $mobile-spacing;

		.popup-inner {
			max-width: $popup-width-md;
			width: 100% !important;
		}
	}
}