@charset "UTF-8";
.video-wrap {
  position: relative;
}

.video-header {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 25px;
  background-color: blanchedalmond;
  z-index: 10;
}
.video-header .btn-group {
  margin-right: 10px;
}
.video-header .label-live {
  position: relative;
}
.video-header .label-live::after {
  position: absolute;
  top: 60%;
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  background-color: red;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.video-setting {
  position: relative;
  display: inline-block;
}
.video-setting .setting-wrap {
  position: absolute;
  top: 30px;
  right: -50%;
  display: none;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
}
.video-setting .setting-wrap.on {
  display: block;
}

.video-body {
  position: relative;
  padding-top: 25px;
}
.video-body .live-countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  background-color: cadetblue;
  opacity: 0.5;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

/* video API 커스텀 테스트 */
.video-js {
  position: relative;
  border-style: double;
  border-width: thick;
}
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: yellowgreen;
}
.video-js .vjs-control-bar {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  background: none;
}
.video-js .vjs-slider {
  border: 1px solid red;
}
.video-js .vjs-play-progress,
.video-js .vjs-slider-bar {
  background: yellow;
}
.video-js .vjs-load-progress {
  background: blue;
}
.video-js .vjs-load-progress div {
  background-color: #B37D5B;
  opacity: 0.75;
}
.video-js .vjs-progress-control {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 25px;
  background-color: aqua;
  opacity: 0.5;
}
.video-js .vjs-progress-control .vjs-mouse-display {
  background-color: red;
}
.video-js .vjs-progress-control.vjs-control {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
}
.video-js .vjs-big-play-button {
  display: none;
  background-color: red;
  /* opacity: .6; */
}
.video-js .vjs-play-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: absolute;
  left: 50%;
  width: 100px;
  height: 100px;
  background: blueviolet;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.video-js .vjs-control {
  position: absolute;
  height: 25px;
}
.video-js .vjs-fullscreen-control,
.video-js .vjs-picture-in-picture-control {
  right: 0;
}
.video-js .vjs-picture-in-picture-control {
  display: none;
}
.video-js .vjs-time-control {
  bottom: 0;
}
.video-js .vjs-fullscreen-control {
  top: 0;
}
.video-js .vjs-volume-level {
  background: yellow;
}
.video-js .vjs-volume-panel {
  top: 300px;
  right: 0;
}
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  top: -90px;
  left: auto;
  right: 0;
}
.video-js .vjs-volume-panel:active {
  right: 0;
}
.video-js .vjs-volume-panel:active .vjs-volume-control.vjs-volume-vertical {
  top: -90px;
  left: auto;
  right: 0;
}
.video-js .vjs-volume-panel.vjs-hover .vjs-mute-control ~ .vjs-volume-control.vjs-volume-vertical {
  top: -90px;
  left: auto;
  right: 0;
}
.video-js .vjs-volume-panel.vjs-hover:active {
  right: 0;
}
.video-js .vjs-volume-panel.vjs-hover:active .vjs-volume-control.vjs-volume-vertical {
  top: -90px;
  left: auto;
  right: 0;
}
.video-js .vjs-current-time {
  display: block;
  left: 0;
}
.video-js .vjs-duration {
  display: block;
  right: 0;
}
.video-js:not(.vjs-live) .vjs-seek-to-live-control {
  display: block;
  top: 0;
}
.video-js:not(.vjs-live) .vjs-seek-to-live-control .vjs-icon-placeholder {
  position: absolute;
  right: -10px;
}
.video-js .vjs-back-button {
  left: 200px;
  background-color: firebrick;
}
.video-js .vjs-forward-button {
  right: 200px;
  background-color: firebrick;
}
.video-js .vjs-play-control.vjs-ended .vjs-back-button,
.video-js .vjs-play-control.vjs-ended .vjs-forward-button {
  display: none;
}
.video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before {
  background-color: firebrick;
}

/* 채팅창 구현 */
.chat-container {
  width: 100%;
  min-height: 400px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
}

.chat-header {
  background-color: #f5f5f5;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.chat-header .chat-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.chat-body .chat-messages-wrap {
  height: 300px;
  padding: 10px;
  overflow-y: scroll;
}
.chat-body .chat-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  width: 100%;
  margin-bottom: 10px;
}
.chat-body .chat-message.my-msg {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
.chat-body .chat-message.my-msg .msg-box {
  margin-left: 0;
  margin-right: 10px;
}
.chat-body .chat-message.my-msg .msg-box::after {
  left: auto;
  right: -10px;
}
.chat-body .msg-box {
  position: relative;
  display: inline-block;
  max-width: 70%;
  padding: 5px 10px;
  margin-left: 10px;
  background: #ccc;
  border-radius: 5px;
}
.chat-body .msg-box::after {
  position: absolute;
  top: 10px;
  left: -10px;
  display: inline-block;
  content: "";
  width: 10px;
  height: 10px;
  background: #ccc;
}
.chat-body .chat-username {
  font-weight: bold;
  margin-right: 5px;
}
.chat-body .chat-text {
  margin: 0;
}

.chat-footer {
  width: 100%;
  background-color: #f5f5f5;
  padding: 10px;
  border-top: 1px solid #ccc;
  text-align: right;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.chat-footer .chat-label {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: 0 !important;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
}
.chat-footer textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
.chat-footer button[type=submit] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
}