#sidebar {
	width: $sidebar-width;
	background-color: #fff;

	.sidebar-title {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 96px;
		padding: 0 10px;
		color: $white;
		background-color: $bg-darkprimary;
		text-align: center;
		border-radius: 10px 30px 0 0;
		font-family: $font-family-title;
		font-weight: 500;
	}

	.snb-list {
		font-size: 16px;

		[target="_blank"] {
			&:after {
				content: '';
				display: inline-block;
				width: 15px;
				height: 12px;
				background-color: red;
				background: url(#{$url-img-common}/ico-new-window.png) no-repeat;
				margin-left: 4px;
			}
		}

		>li {
			border: 1px solid #e3e3e3;
			border-top: 0;

			a {

				&:hover,
				&:focus {
					color: $primary;
				}

			}

			// 1뎁스
			>a {
				display: block;
				padding: 10px 18px;

				&[target="_blank"] {
					position: relative;
					padding-right: 20px;

					&:after {
						position: absolute;
						width: 18px;
						height: 14px;
						top: 50%;
						margin-top: -7px;
						right: 11px;
						background: url(#{$url-img-common}/ico-new-window-lg.png) no-repeat;
					}
				}
			}

			&.collapse {
				>a {
					position: relative;
					display: block;
					padding-right: 20px;

					&:before,
					&:after {
						content: '';
						position: absolute;
						width: 13px;
						height: 1px;
						right: 14px;
						top: 50%;
						margin-top: -1px;
						background-color: #707070;
						transition-duration: .3s;
					}

					&:after {
						transform: rotate(90deg);
					}
				}

				&.on {
					>a {
						&:before {
							transform: rotate(180deg);
						}

						&:after {
							transform: rotate(180deg);
						}
					}
				}
			}

			&.on {
				>a {
					color: $primary;
					// font-weight: bold;
					font-weight: bold;
				}
			}

			>ul {
				display: none;
				padding: 10px 20px 10px 30px;
				font-size: 14px;
				border-top: 1px solid #e3e3e3;
				background-color: #f3f8ff;
				overflow: hidden;

				// 2뎁스
				>li {
					margin: 3px 0;

					>a {
						display: block;

						&[target="_blank"] {
							position: relative;
							padding-right: 25px;

							&:after {
								position: absolute;
								top: 50%;
								margin-top: -6px;
								right: 8px;
							}
						}
					}

					&.on {
						>a {
							color: $primary;
							font-weight: bold;
						}
					}

					&.collapse {
						>a {
							position: relative;
							display: block;
							padding-right: 20px;

							&:before,
							&:after {
								content: '';
								position: absolute;
								width: 11px;
								height: 1px;
								right: 10px;
								top: 50%;
								margin-top: -1px;
								background-color: #707070;
								transition-duration: .3s;
							}

							&:after {
								transform: rotate(90deg);
							}
						}

						&.on {
							>a {
								&:before {
									transform: rotate(180deg);
								}

								&:after {
									transform: rotate(180deg);
								}
							}
						}
					}
				}

				ul {
					display: none;
					padding: 5px 5px 10px 10px;

					// 3뎁스
					>li {
						margin: 2px 0;
						padding-left: 8px;
						position: relative;

						&:before {
							display: block;
							position: absolute;
							left: 0;
							top: 9px;
							content: '';
							width: 3px;
							height: 2px;
							background-color: #647285;
						}

						&.on {
							&:before {
								background-color: $primary;
							}

							>a {
								color: $primary;
								font-weight: bold;
							}
						}
					}
				}
			}
		}
	}

	@include media-breakpoint-down(md) {
		display: none;
	}

	// 플로팅형 사이드바
	&.sidebar-floating {
		border-radius: 10px;
		background-color: #004a85;
		transition-duration: .3s;
		transition-property: margin-top;
		margin-right: 30px !important;
		margin-top: 30px;

		.sidebar-title {
			margin-top: 15px;
			height: auto;
			font-size: 20px;

			&:before {
				content: '';
				width: 22px;
				height: 22px;
				background: url(#{$url-img-common}/ico-check-yellow.png) no-repeat;
				margin-right: 6px;
			}
		}

		.snb-list {
			border-radius: 10px;
			background-color: #fff;
			margin: 10px;
			padding: 10px 20px;

			ul {
				display: block !important;
			}

			li {
				border: 0;

				&.on {
					>a {
						color: inherit;
						// color: $primary;
						font-weight: normal;
					}
				}
			}

			a {
				font-size: 14px;
				// padding: 0;

				&:before,
				&:after {
					display: none;
				}
			}

			// 1D
			>li {
				padding: 5px 0;

				+li {
					border-top: 1px solid #e3e3e3;
				}

				>a {
					padding: 4px 0;
					font-size: 16px;
					font-weight: 500;
				}

				// 2D
				>ul {
					margin-bottom: 5px;
					border: 0;
					background: none;
					padding: 0 10px;

					>li {
						>a {
							padding: 2px 4px;
						}

						// 3D
						>ul {
							margin-top: 3px;
							padding: 10px 10px 10px 15px;
							background-color: #f3f8ff;

							>li {
								// >a {}

								&.on {
									>a {
										color: $primary;
									}
								}
							}
						}
					}
				}
			}
		}

		.fixed-header & {
			margin-top: 78 - $header-height;
		}

		+#content {
			.content-body {
				.container {
					max-width: none;

					.gallery-content {
						max-width: 950px;
					}
				}
			}
		}

		@include media-breakpoint-up(xxl) {
			// $sidebar-width: 250px;

			position: fixed;
			z-index: 1010;
			margin-left: -30px - $sidebar-width;
			width: $sidebar-width;
			margin-right: 0 !important;

			+#content {
				.content-body {
					.container {
						.gallery-content {
							max-width: 1200px;
						}
					}
				}
			}
		}
	}
}