/* 채팅창 구현 */
.chat-container {
	width: 100%;
	min-height: 400px;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 20px auto;
}

.chat-header {
	background-color: #f5f5f5;
	padding: 10px;
	border-bottom: 1px solid #ccc;

	.chat-title {
		font-size: 1.2rem;
		font-weight: bold;
		margin: 0;
	}
}

.chat-body {
	.chat-messages-wrap {
		height: 300px;
		padding: 10px;
		overflow-y: scroll;
	}

	.chat-message {
		display: flex;
		justify-content: left;
		width: 100%;
		margin-bottom: 10px;

		&.my-msg {
			justify-content: right;

			.msg-box {
				margin-left: 0;
				margin-right: 10px;

				&::after {
					left: auto;
					right: -10px;
				}
			}
		}
	}

	.msg-box {
		position: relative;
		display: inline-block;
		max-width: 70%;
		padding: 5px 10px;
		margin-left: 10px;
		background: #ccc;
		border-radius: 5px;

		&::after {
			position: absolute;
			top: 10px;
			left: -10px;
			display: inline-block;
			content: '';
			width: 10px;
			height: 10px;
			background: #ccc;
		}
	}



	.chat-username {
		font-weight: bold;
		margin-right: 5px;
	}

	.chat-text {
		margin: 0;
	}
}


.chat-footer {
	background-color: #f5f5f5;
	padding: 10px;
	border-top: 1px solid #ccc;
	text-align: right;
}

form input[type="text"] {
	width: 80%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form button[type="submit"] {
	padding: 10px 20px;
	background-color: #007bff;
	color: #fff;
	border: 1px solid #007bff;
	border-radius: 5px;
	cursor: pointer;
}